<footer>
    <div class="container pie_de_pagina">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                    Oscar David Serge Blanco<br>
                    Valledupar - Cesar / Colombia<br>
                    Teléfonos: 305 3438126<br>
                </h6>
            </div>

            <div class="col-xs-12 col-md-6 text-right">
                <h6 class="text-muted lead">REDES SOCIALES</h6>
                <div class="redes-footer">
                    <a href="https://www.facebook.com/profile.php?id=100018711459880"><img src="/assets/facebook.png"></a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-right">
                <p class="text-muted small">Oscar David, Desarrolador Web @2020.<br> Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>