<style>
    
a{
    font-size: 25px;

    font-family: Serif;

    text-align: center;

    color: #ffffff;
}

h1{

    font-size: 30px;

    font-family: Serif;

    text-align: center;

    color: #000000;

}


h2{

    font-size: 30px;

    font-family: Serif;

    text-align: center;

    color: #ffffff;

}

p{  

    font-size: 30px;

    font-family: Serif;

    text-align: justify;

    color: #ffffff;

}

#rc3{

    background: #007bff;

    border-radius: 25px;

    padding: 20px;

    position: relative;

    left: 5%;

    width: 90%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
</style>

<title>HOME</title>
<br> <br>
<div align="center"><img src="assets/Logo.png" alt="Logo"><h1>PULSACIONES</h1></div>
<br>
<div id="rc3">
    <h2>Que son las Pulsaciones?</h2>
    <p>
        En medicina, el pulso de una persona es una onda de presión provocada por la expansión de las arterias como consecuencia de la circulación de sangre bombeada por el corazón. 
        Se obtiene por lo general en partes del cuerpo donde las arterias se encuentran más próximas a la piel, como en las muñecas o el cuello e incluso en la sien.
        Se mide en condiciones bien determinadas (de reposo o de actividad) y se expresa en pulsaciones por minuto a nivel de las arterias periféricas y en latidos por minuto a nivel del corazón. 
        La medición del pulso1​ se puede detectar en distintos puntos, pero lo más habitual es que se lo mida en la muñeca, en el cuello o en el tórax.
    </p>
</div>
<br><br>